.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

#appTable{
  display: flex;
  margin: auto;
  width: 70vw;
}

.form-div {
  margin-left: 50px;
}

.form-button {
  margin-top: 20px;
  margin-left: 90px;
}

.delete-button{
  margin-top: 20px;
  margin-left: 50px;

}

body {
  background-image: url(https://image.shutterstock.com/image-photo/combs-hairdresser-tools-on-white-260nw-525858217.jpg);
  background-size: cover;
}